@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

}

.navbar {
    height: 70px;
}

.navbar li {
    padding: 0 5px;
}

.logo img {
    width: 150px;
    height: auto;
}

.text {
    flex-direction: column;
}

.text h1 {
    color: orangered;
    font-size: 100px;
}

.text h2 {
    color: white;
    font-size: 50px;
}

.text p {
    color: white;
    font-size: 30px;
    margin: 20px;
    font-weight: 300;
}


.img-fluid {
    color: white;
    margin-top: 130px;
    animation: bounce 2s infinite;

}

.cart ion-icon {
    font-size: 30px;
    vertical-align: middle;

}

.cart span {
    color: white;
    padding-left: 5px;
}


a:hover {
    background-color: orangered;
    border-radius: 10px;
    padding: 10px;
}

.menu {
    background-color: black;
    padding-top: 30px;
    justify-content: center;
}

.menu .intro h3 {
    color: orangered;
    padding: 50px;
}

.menu-size {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.menu img {
    width: 100%;
    height: auto;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}